:root {
  --color-primary: #444;
  --color-acent: #d52121;
  --color-body-light: #d6d6d6;
}

main {
  min-height: 100vh;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-primary);
}
.nav-list {
  display: flex;
}
.list__item {
  font-size: 1.6rem;
  margin-left: 5rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

/* icon */

.icon {
  width: 40px;
  height: 40px;
}


/* badge */

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  min-width: 20px;
  height: 20px;
  background: var(--color-acent);
  border-radius: 10px;
  position: absolute;
  top: -10px;
  left: 30px;
}

.shopping_bag {
  position: relative;
  justify-self: flex-end;
  display: flex;
  font-size: 16px;
  line-height: 16px;
}

.shopping_bag .price {
  align-self: flex-end;
  font-weight: 600;
  margin-left: 5px;
}

@media screen and (max-width: 530px) {
  .badge {
    font-size: 3.19vw;
    min-width: 3.77vw;
    height: 3.77vw;
    border-radius: 1.89vw;
    top: -1.89vw;
    left: 5.66vw;
  }
  .shopping_bag {
    font-size: 3.19vw;
    line-height: 3.19vw;
  }

  .shopping_bag .price {
    font-size: 3.19vw;
    margin-left: 1vw;
  }

  .shopping_bag .icon {
    width: 7.55vw;
    height: 7.55vw;
  }
}

/* nav bar */

.nav {
  height: 100px;
  box-shadow: 1px 0 5px #333;
  z-index: 3;
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a.active {
  color: var(--color-acent);
}

.header {
  position: relative;
}

.menu_container {
  display: flex;
  align-items: center;
  justify-self: center;
}
.nav .brand_logo {
  width: 200px;
}

.menu_container .icon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav .navbar_menu {
    display: none;
  }
  .side_nav {
    opacity: 1;
    max-width: 300px;
  }

  .menu_container .icon {
    display: block;
    margin-right: 20px;
    fill: var(--color-primary);
  }
}

@media screen and (max-width: 530px) {
  .nav {
    height: 18.87vw;
  }
  .nav .brand_logo {
    width: 37.73vw;
  }
  .side_nav {
    max-width: 56.6vw;
  }

  .menu_container .icon {
    margin-right: 3.77vw;
    width: 7.55vw;
    height: 7.55vw;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* Banner */

.banner {
  background: url("./Images/slider1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 35vw;
}

@media screen and (max-width: 1024px) {
  .banner {
    height: 358px;
    background-position: left;
  }
}
@media screen and (max-width: 765px) {
  .banner {
    height: 47.5vw;
    background-position: left;
  }
}

/* Call to Action */

.order-section {
  background: url("./Images/secton_2_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-section h1 {
  margin: auto;
  display: inline;
  margin-bottom: 50px;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
}

.order-section .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

@media screen and (max-width: 720px) {
  .order-section h1 {
    font-size: 34px;
  }
}

@media screen and (max-width: 530px) {
  .order-section h1 {
    font-size: 28px;
    margin-bottom: 5.66vw;
  }
  .order-section {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
}
@media screen and (max-width: 1200px) {
  .order-section .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* shop now card */

.shop-now-card {
  width: 550px;
  height: 550px;
  background: url("./Images/skin.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(51, 51, 51, 0.5);
}
.card-container {
  width: 100%;
  height: 100%;
  background: rgb(51, 51, 51, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
.card-container:hover {
  background: rgb(51, 51, 51, 0.7);
}

.items-number {
  font-size: 32px;
  font-weight: 300;
  color: white;
  margin-bottom: 60px;
}

@media screen and (min-width: 720px) and (max-width: 1200px) {
  .shop-now-card {
    width: 45.58vw;
    height: 45.58vw;
  }
}
@media screen and (max-width: 720px) {
  .order-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .shop-now-card {
    margin-bottom: 20px;
  }

  .shop-now-card {
    width: 89.38vw;
    height: 89.38vw;
  }
}

/* Button */
.btn {
  width: 220px;
  height: 70px;
  background: var(--color-acent);
  border: none;
  color: var(--color-body-light);
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.15s;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(51, 51, 51, 0.8);
}
@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    cursor: pointer;
    background: #b31313;
  }
}

.btn--block {
  width: 100%;
  height: 35px;
  font-size: 16px;
  font-weight: 600;
  text-transform: unset;
  box-shadow: none;
  color: white;
}

.btn_qty {
  height: 35px;
  width: 70px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: none;
  background: var(--color-primary);
}

@media screen and (max-width: 530px) {
  .shop-now-card .btn {
    width: 41.5vw;
    height: 10.76vw;
    font-size: 4.14vw;
  }
  .shop-now-card .items-number {
    font-size: 6vw;
    margin-bottom: 9vw;
  }
}
/* about */

.about {
  height: 480px;
  background: url("./Images/aboutbghome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.about__title {
  font-size: 62px;
  font-weight: 300;
  color: white;
  margin-bottom: 40px;
}
.about__discription {
  margin: 0;
  max-width: 1100px;
  font-size: 22px;
  line-height: 38px;
  font-weight: 300;
  text-align: center;
  color: white;
  width: 100%;
}

@media screen and (max-width: 670px) {
  .about {
    height: 71.64vw;
  }
  .about .container {
    padding-top: 4.77vw;
  }
  .about__title {
    font-size: 9.25vw;
    margin-bottom: 5.97vw;
  }
  .about__discription {
    font-size: 3.283vw;
    line-height: 5.67vw;
  }
}

/* footer */
.footer {
  height: 140px;
  background: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer .container {
  display: flex;
  height: 62px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(51, 51, 51, 0.5);
  width: 100%;
}
.footer__logo {
  width: 150px;
}

.footer .icon__container {
  display: flex;
}

.footer .icon {
  fill: var(--color-body-light);
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
.copy_right {
  font-size: 14px;
  color: rgb(214, 214, 214, 0.5);
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  .footer .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 530px) {
  .footer {
    height: 26.41vw;
  }
  .footer .container {
    height: 11.67vw;
  }
  .footer .icon {
    fill: var(--color-body-light);
    width: 5.66vw;
    height: 5.66vw;
    margin-left: 3.77vw;
  }
  .copy_right {
    font-size: 2.64vw;
    margin-bottom: 1vw;
  }
  .footer__logo {
    width: 28.3vw;
  }
}

/* page title */
.page_title {
  font-size: 32px;
  font-weight: 400;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 50px;
}

@media screen and (max-width: 650px) {
  .page_title {
    font-size: 4.92vw;
    margin-top: 4.615vw;
    padding-bottom: 3.07vw;
    margin-bottom: 7.7vw;
  }
}

/* product page  */

.product_card_base {
  width: 333px;
  border: 1px solid #e5e5e5;
  padding: 20px;
  box-shadow: 0 0 10px rgb(51, 51, 51, 0.5);
  transition: all 0.2s;
  justify-self: center;
}
.product_card_base:hover {
  box-shadow: 0 0 15px rgb(51, 51, 51, 0.7);
}

.product_image {
  width: 291px;
  height: 293px;
  border: 1px solid #e5e5e5;
}
.product_discription {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 10px;
}
.product_price {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-acent);
  margin-bottom: 10px;
}

@media screen and (max-width: 390px) {
  .product_card_base {
    width: 85.38vw;
    padding: 5.128vw;
  }

  .product_image {
    width: 74.615vw;
    height: 75.128vw;
  }
  .product_discription {
    font-size: 4.103vw;
    line-height: 4.615vw;
    margin-top: 2.0515vw;
    margin-bottom: 2.56vw;
  }
  .product_price {
    font-size: 4.103vw;
    margin-bottom: 2.56vw;
  }
}

/* Qty */

.qty {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.qty_number {
  font-weight: 600;
  font-size: 16px;
}
@media screen and (max-width: 390px) {
  .qty_number {
    font-size: 4.103vw;
  }
}

/* ShoppingCart */
.shopping_cart {
  width: 370px;
  border: 1px solid #e5e5e5;
  box-shadow: -2px 2px 3px #333;
  padding: 10px;
  padding-bottom: 20px;
  text-align: right;
  position: absolute;
  background: white;
  top: 100;
  right: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s;
}
.shopping_cart.show {
  max-width: 370px;
  opacity: 1;
}
@media screen and (max-width: 530px) {
  .shopping_cart {
    width: 69.8vw;
    padding: 1.89vw;
    padding-bottom: 3.77vw;
    top: 18.87vw;
  }
  .shopping_cart.show {
    max-width: 69.8vw;
  }
}
/* scorolbar */

.shopping_cart ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.shopping_cart ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.shopping_cart ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2.5px;
}

/* Handle on hover */
.shopping_cart ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.close_btn {
  width: 30px;
  height: 30px;
  border: none;
  background: var(--color-acent);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  display: inline;
  margin-bottom: 10px;
  cursor: pointer;
}
.close_btn:hover {
  background: #b31616;
}
.close_btn_round {
  width: 25px;
  height: 25px;
  min-width: 25px;
  border-radius: 25px;
  background: #555;
  margin-left: 10px;
}
.close_btn_round:hover {
  background: #444;
}
.cart_product_container {
  width: 350px;
  height: 263px;
  border: 1px solid #e5e5e5;
  padding: 10px;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
  overflow-y: scroll;
}

@media screen and (max-width: 530px) {
  .close_btn {
    width: 5.66vw;
    height: 5.66vw;
    border-radius: 0.94vw;
    margin-bottom: 1.89vw;
    font-size: 3.02vw;
  }
  .close_btn_round {
    width: 4.72vw;
    height: 4.72vw;
    min-width: 4.72vw;
    border-radius: 4.72vw;
    margin-left: 1.89vw;
    font-size: 3.02vw;
  }

  .cart_product_container {
    width: 66.04vw;
    height: 49.62vw;
    padding: 1.89vw;
  }
}

/* cart product */

.cart_product {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart_product_image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.cart_product_ditiles {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.cart_product_discription {
  flex-grow: 1;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.cart_product_price {
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 530px) {
  .cart_product {
    padding-bottom: 1.89vw;
    margin-top: 1.89vw;
  }
  .cart_product_image {
    width: 18.89vw;
    height: 18.89vw;
    margin-right: 1.89vw;
  }
  .cart_product_discription {
    font-size: 3.02vw;
    line-height: 3.4vw;
  }

  .cart_product_price {
    font-size: 3.02vw;
  }
}

/* price table */

.price_table {
  margin-top: 20px;
  width: 100%;
}

.price_table .text {
  text-align: left;
  padding-bottom: 10px;
}
.price_table .total {
  font-weight: 600;
}

.shopping_cart .notice {
  color: var(--color-acent);
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 10px;
}

.shopping_cart .order_btn {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@media screen and (max-width: 530px) {
  .price_table {
    margin-top: 3.77vw;
    font-size: 3.02vw;
  }

  .price_table .text {
    padding-bottom: 1.89vw;
  }
  .shopping_cart .notice {
    font-size: 1.89vw;
    margin-bottom: 1.89vw;
  }

  .shopping_cart .order_btn {
    height: 6.6vw;
    font-size: 3.02vw;
  }
}

/* pagination */

.pagination {
  max-width: 1200px;
  height: 50px;
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
}

.btn_pagination {
  border: none;
  width: 30px;
  height: 30px;
  background: #e5e5e5;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: 500;
}
.btn_pagination:hover {
  background: #bbb5b5;
}

.btn_pagination.active {
  background: var(--color-acent);
  color: white;
}
.btn_pagination.active:hover {
  background: #a71515;
}

/* form components */

.billing_ditailes {
  max-width: 570px;
}

.form_header {
  max-width: 570px;
  height: 35px;
  background: #444;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 20px;
}
.input_group {
  margin-bottom: 20px;
}
.input_group > label {
  display: block;
  margin-bottom: 10px;
}
.input_group > Input {
  max-width: 275px;
  height: 40px;
  width: 100%;
  border: 2px solid #e5e5e5;
  outline: 0;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.1s;
}

.input_group > Input:hover {
  border: 2px solid #c0c0c0;
}

Input:focus {
  border: 2px solid #7e7979;
}

.billing_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 570px;
  column-gap: 20px;
}

.billing_form .order_btn {
  grid-column: 1 / -1;
  max-width: 270px;
  justify-self: right;
}

@media screen and (max-width: 530px) {
  .billing_form {
    grid-template-columns: 1fr;
  }
  .input_group > Input,
  .billing_form .order_btn {
    max-width: 100vw;
  }
}
/* price table */

.checkout_container .price_table {
  max-width: 570px;
  margin-top: 0;
  font-size: 16px;
}
.checkout_container .price_table table {
  width: 100%;
}
.checkout_container .price_table .price {
  text-align: right;
}

.product_name_container {
  display: flex;
}
.checkout_container .price_table .product_name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 280px;
  align-items: center;
}
@media screen and (max-width: 530px) {
  .checkout_container .price_table .product_name {
    max-width: 43vw;
  }
}

/* checkout page  */
.checkout_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  column-gap: 30px;
}

@media screen and (max-width: 950px) {
  .checkout_container {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .checkout_container .price_table,
  .checkout_container .billing_ditailes {
    justify-self: center;
    width: 100%;
  }
}

/* side nav */
.side_nav {
  position: absolute;
  top: 100;
  left: 0;
  width: 300px;
  border: 1px solid #e5e5e5;
  box-shadow: 2px 2px 3px #333;
  background: white;
  text-align: right;
  padding: 10px;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s;
  font-size: 16px;
}

.side_nav .list {
  text-align: left;
}
.side_nav .list__item {
  margin-left: 0;
  padding: 20px 10px;
  border-bottom: 1px solid #e5e5e5;
}
.side_nav .list__item a {
  display: block;
}

@media screen and (max-width: 1024px) {
  .side_nav.show {
    opacity: 1;
    max-width: 300px;
  }
}

@media screen and (max-width: 530px) {
  .side_nav {
    font-size: 3.02vw;
    top: 18.87vw;
    width: 56.6vw;
    padding: 1.89vw;
  }
  .side_nav .close_btn {
    width: 5.66vw;
    height: 5.66vw;
  }
  .side_nav .list__item {
    padding: 3.77vw 1.89vw;
    font-size: 3.02vw;
    width: 100%;
    height: 100%;
  }
}

/* product page */
.product_page_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1070px) {
  .product_page_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 740px) {
  .product_page_container {
    grid-template-columns: 1fr;
  }
}

/* mobile verifycation */

.mobile_verify_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verify_box {
  width: 650px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  padding: 20px;
}
.verify_headline {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}
.verify_box .input_group > Input {
  max-width: 100vw;
  width: 100%;
}

.verify_box .btn {
  width: 130px;
  float: right;
}
/* 
error message */

.error_message {
  color: var(--color-acent);
  font-size: 10px;
  height: 10px;
}
.input_message {
  font-size: 10px;
  height: 10px;
}
